body {
    width: 100vw;
    margin: auto;
    background-color: dimgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: cursive;
    font-family: system-ui;
}

#content {
    background-color: linen;
    max-width: 700px;
    text-align: center;
}

.chapter {
    padding: 30px;
    text-align: left;
    word-spacing: 1.5px;
    line-height: 1.5;
    font-size: 16px;
}

p {
    text-align: justify;
}

img {
    width: 400px;
    margin: 20px 0;
    box-shadow: 1px 1px 10px 1px #888888;
    border-radius: 20px;
}

@media screen and (max-width: 700px) {
    #content {
        width: 100vw;
    }
    .chapter {
      padding: 15px;
    }
}

@media screen and (max-width: 440px) {
    img {
        width: 100%;
    }
    th, td {
      font-size: 10px !important;
    }
    td {
      padding-left: unset !important;
    }
}

table {
  table-layout: fixed;
}

th {
  white-space: nowrap;
}

td {
    padding-left: 20px;
}

th,td {
    font-size: 12px;
    vertical-align: top;
}

h1 {
  text-align: center;
}

h2 {
    margin-top: 50px;
    border-top: solid;
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}